@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Roboto');

 body {
  background: #272727;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 16px;
  overflow: hidden;
}

::selection {
  background: #3046BB;
  color: white;
}
::-moz-selection {
  background: #3046BB;
  color: white;
}

#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: #272727;
	z-index:99;
}

.main {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #3046BB;
}

.main span {
  color: white;
}

#navbar {
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  padding: 1vh;
  background-color: #3046BB;
  box-shadow: 0vh 0.5vh 1vh #151515;
  transition: 1s;
}

#navbar:hover {
  padding: 5vh;
  background-color: #272727;
  color: white;
}

#navbar ul {
  text-align: center;
  clear: left;
  padding: 0;
}

#navbar li {
  display: inline;
  padding: 0.6vh;
  color: #CCCCCA;
}

#navbar li a {
  text-decoration: none;
  color: white;
  transition: 1s;
}

#navbar:hover li a {
  color: white;
  transition: 1s;
}

#navbar:hover li a:hover {
  color: #3046BB;
  transition: 0.3s;
}
